.default, body, html {
    display: flex;
    font-family: 'Flamenco', cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

* {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.bar {
    display: none;
    width: 23px;
    height: 3px;
    margin: 3px;
    background-color: white;
}

nav ul {
    background-color: #1E2D24;
    padding: 0 15px;
    width: 100%;
    transition: top 0.6s ease 0s;
}

nav ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 34px;
    padding: 0px 18px;
    transition: background-color 0.4s ease 0s;
}

nav ul li:hover {
    background-color: #3E4742;
}

/* Portrait and Landscape */
@media only screen and (max-width: 550px) { 
    nav ul {
        flex-direction: column-reverse;
        position: relative;
        top: -102px;
        padding: 0;
    }
    
    .bar {
        display: block;
    }
}